<style>
  input.ng-dirty.ng-invalid {
    border: 2px solid #ff0000
  }

  input.ng-dirty.ng-valid {
    border: 2px solid #6bc502
  }
</style>


<div class="bg-info text-white p-2">
  Selected Product: {{selectedProduct || '(None)'}}
  <!--Below: using a template reference -->
  <!-- Selected Product: {{product.value || '(None)'}} -->

</div>


<div class="container m-2">
  <table class="table table-sm table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <!-- <tr *ngFor="let item of getProducts(); let i = index" (mouseover)="product.value=item.name" [class.bg-info]="product.value==item.name"> -->
    <tr *ngFor="let item of getProducts(); let i = index" [class.bg-info]="getSelected(item)">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
    </tr>
  </table>
</div>




<div class="container m-4 p-4"   style="border:green 1px solid;">



  <!--  <div class="form-group">
    <label>Product Name</label>
    <input #product class="form-control" (input)="false" />
  </div>-->

  <!-- 
  <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" (input)="selectedProduct=$event.target.value" [value]="selectedProduct || ''" />
  </div>
  <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" (input)="selectedProduct=$event.target.value" [value]="selectedProduct || ''" />
  </div>

-->

  <!--Using the ngModel Directive to simplify two-ways data binding -->
  <!-- 
    <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" [(ngModel)]="selectedProduct" />
  </div>
  <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" [(ngModel)]="selectedProduct" />
  </div>
-->

  <!-- 

  <h4 class="ml-4">Form demo</h4>
  <div class="bg-info text-white mb-2 p-2">Model Data: {{jsonProduct}}</div>
  
  <div class="m-4 p-4" style="border: 1px green solid;">

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="newProduct.name" />
    </div>
    <div class="form-group">
      <label>Category</label>
      <input class="form-control" [(ngModel)]="newProduct.category" />
    </div>
    <div class="form-group">
      <label>Price</label>
      <input class="form-control" [(ngModel)]="newProduct.price" />
    </div>
    <button class="btn btn-primary" (click)="addProduct(newProduct)">Create</button>
  </div>

-->

  <!--Form validation-->
  <!-- 
      <div class="bg-info p-2 mb-2">Model Data: {{jsonProduct}}</div>
  <form novalidate (ngSubmit)="addProduct(newProduct)">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="newProduct.name" required minlength="5" pattern="^[A-Za-z ]+$" />
    </div>
    <button class="btn btn-primary" type="submit">
      Create
    </button>
  </form>
  -->


  <!-- Form validation (1) -->
  <!-- 
      <form novalidate (ngSubmit)="addProduct(newProduct)">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5"
        pattern="^[A-Za-z ]+$" />
      <ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
        <li *ngIf="name.errors.required">
          You must enter a product name
        </li>
        <li *ngIf="name.errors.pattern">
          Product names can only contain letters and spaces
        </li>
        <li *ngIf="name.errors.minlength">
          Product names must be at least
          {{name.errors.minlength.requiredLength}} characters
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" type="submit">
      Create
    </button>
  </form>
  -->

  <!-- Form validation (2) -->
  <!--
    <form novalidate (ngSubmit)="addProduct(newProduct)">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5"
        pattern="^[A-Za-z ]+$" />
        <ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
          <li *ngFor="let error of getValidationMessages(name)">
          {{error}}
          </li>
          </ul>
    </div>
    <button class="btn btn-primary" type="submit">
      Create
    </button>
  </form>
-->



  <!-- Form validation (3) -->

 
  <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && form.invalid">
      There are problems with the form
      <ul>
        <li *ngFor="let error of getFormValidationMessages2(form)">
          {{error}}
        </li>
      </ul>
    </div>


    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5"
        pattern="^[A-Za-z ]+$" />
      <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty) && name.invalid">
        <li *ngFor="let error of getValidationMessages(name)">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input class="form-control" name="price" [(ngModel)]="newProduct.price" #price="ngModel" required
        pattern="^[0-9\.]+$" />
      <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || price.dirty) && price.invalid">
        <li *ngFor="let error of getValidationMessages(price)">
          {{error}}
        </li>
      </ul>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="formSubmitted && form.invalid"  [class.btn-secondary]="formSubmitted && form.invalid">
      Create
    </button>

  </form>
 

</div>

<product2>

</product2>
