<p>bindings works!</p>


<img src="{{imageUrl}}" />

<br>
<br>
<div>

    <input type="text" [(ngModel)]="title" />      

    <br>
    You have typed: {{title}}
</div>

<div>
<button (click)="onClick($event)">Submit</button>
</div>

<br>

<div>
    <button (click)="onClick($event)">Submit</button>
</div>

<br>
<div>

<button 
      class="btn btn-primary" 
      [style.backgroundColor]="isActive ? 'blue' : 'gray'">Submit</button>
    
      &nbsp; 
<button class="btn btn-primary" [class.disabled]="isActive">Submit</button>

&nbsp; 
<button class="btn btn-primary" [class.btn-danger]="!isActive">Submit</button>

</div>
