

<h1>Users</h1>
<button class="btn btn-primary" (click)="add()">Add</button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users | async">
			<td>{{ user.data.name }}</td>
			<td>{{ user.data.email }}</td>
			<td>                
                <a [routerLink]="['/add', user.id]">
                    <i class="far fa-edit"></i>
                    Edit
                </a>
			</td>
			<td>
                <a class="text-danger">
                    <i (click)="delete(user.id,user.data.name)" class="far fa-trash-alt"></i>
                    Delete
                </a>
            </td>
		</tr>
	</tbody>
</table>